MIDAS/.vs/
MIDAS/MIDAS/bin/
MIDAS/MIDAS/obj/
*.exe
*.pdb
MIDAS/MIDAS/bin/Debug/MIDAS.exe
MIDAS/MIDAS/bin/Debug/MIDAS.pdb
MIDAS/MIDAS/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MIDAS/MIDAS/obj/Debug/MIDAS.exe
MIDAS/MIDAS/obj/Debug/MIDAS.pdb
MIDAS/MIDAS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MIDAS/MIDAS/bin/Debug/MIDAS.pdb
MIDAS/MIDAS/bin/Debug/MIDAS.exe
MIDAS/MIDAS/obj/Debug/MIDAS.exe

*.Cache
